/* Defult links color */
$color-links: #b6d0d4;
$color-links-hover: #a6babd;

.nav-item:hover {
    text-decoration: none;
    text-decoration-color: $color-links;
    background-color: $color-links-hover;
}

// .nav-item:hover a {
//     text-decoration: none;
//     color: #1065bb;
// }